@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar-toggle .block {
    transition: opacity 0.2s ease-in-out;
}

#navbar-toggle .hidden {
    transition: opacity 0.2s ease-in-out;
}

#navbar-toggle.open .block {
    opacity: 0;
}

#navbar-toggle.open .hidden {
    opacity: 1;
}

#navbar-toggle .cross {
    display: none;
}

#navbar-toggle.open .block {
    display: none;
}

#navbar-toggle.open .cross {
    display: block;
}